
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="entry-w3pvt-main py-5">
    <div class="container px-lg-5 py-md-3">
        <div class="entry-w3layouts-info">
            <h4>DHP -  Trung tâm học tiếng anh trực tuyến</h4>
            <p>
                Trung tâm học tiếng anh trực tuyến hỗ trợ người dùng học tập và rèn luyện các kỹ năng cần thiết đồng thời cái thiện trình độ tiếng anh của mỗi người. Bạn sẽ được học và tiếp xúc với tiếng anh từ trình độ thấp (Beginer) đến trình độ cao (Intermediate), được giảng viên nước ngoài trực tiếp hỗ trợ các bạn.
            </p>
        </div>
    </div>
</div>

<section class="banner-bottom py-5" id="about">
    <div class="container py-md-4">
        <div class="row banner-grids">
            <div class="col-lg-6 content-right-bottom text-left">
                <img src="~Content/images/ab.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 content-left-bottom entry-w3layouts-info text-left pl-lg-4">
                <h5 class="mt-1">Giáo dục trực tuyến - Học các kỹ năng trực tuyến</h5>
                <h4>Học hỏi không giới hạn - Tìm kiếm nhiều khả năng</h4>
                <p class="mt-2 text-left">Tìm kiếm các cơ hội học tập tốt nhất. Bồi dưỡng các kỹ năng để giao tiếp tiếng anh chuyên nghiệp như người bản địa. Cải thiện nỗi sợ tiếng anh và nỗi sợ khi tiếp xúc với người nước ngoài. Hoc tập và làm việc trong môi trường sử dụng tiếng anh 100%. Tiếp xúc và học tập trực tiếp từ người bản địa.</p>

            </div>

        </div>
    </div>
</section>
@{ Html.RenderAction("getNew", "New");}



