
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

    <section class="col-md-6 col-lg-6 col-xs-6 col-sm-6" id="team">
        @{ Html.RenderAction("getCourse", "Course");}
    
    </section>




