
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

    <section class="team-content py-5" id="team">
        @{ Html.RenderAction("getCourse", "Course");}
    
    </section>




