
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/Home.cshtml";
}

<div class="container" style="margin-top:10px">
    <div class="course">
        <h2><strong>Lesson Library Online - Lessons by Level</strong></h2>
        <p>Các khóa học sẽ được sắp xếp từ trình độ dành cho người mới bắt đầu đến người đã có trình độ tiếng anh và muốn cả thiện. Các khóa học sẽ được chia làm 2 nhóm dành cho người mới bắt đầu (Beginner) và người muốn cải thiện (Intermemdiate). Mỗi nhóm sẽ từ cấp độ 1 (Level 1) đến cấp độ 3 (Level 3) phù hợp cho người dùng chọn lựa</p>
        <div class="col-sm-4">
            <img src="images/lv1be.jpg" />
            <h2>Level 1 - Low Beginner</h2>
            <p><a href="#">Lv1-Reading</a></p>
            <p><a href="#">Lv1-Listening</a></p>
            <p><a href="#">Lv1-Grammar</a></p>
            <p><a href="#">Lv1-Vocabulary</a></p>
            <br>
            <img src="images/lv1in.jpg" />
            <h2>Level 1 - Low Intermediate</h2>
            <p><a href="#">Lv1-Reading</a></p>
            <p><a href="#">Lv1-Listening</a></p>
            <p><a href="#">Lv1-Grammar</a></p>
            <p><a href="#">Lv1-Vocabulary</a></p>
            <br>
        </div>
        <div class="col-sm-4">
            <img src="images/lv2be.jpg" />
            <h2>Level 2 - Mid Beginner</h2>
            <p><a href="#">Lv2-Reading</a></p>
            <p><a href="#">Lv2-Listening</a></p>
            <p><a href="#">Lv2-Grammar</a></p>
            <p><a href="#">Lv2-Vocabulary</a></p>
            <br>
            <img src="images/lv2in.jpg" />
            <h2>Level 2 - Mid Intermediate</h2>
            <p><a href="#">Lv2-Reading</a></p>
            <p><a href="#">Lv2-Listening</a></p>
            <p><a href="#">Lv2-Grammar</a></p>
            <p><a href="#">Lv2-Vocabulary</a></p>
            <br>
        </div>
        <div class="col-sm-4">
            <img src="images/lv3be.jpg" />
            <h2>Level 3 - High Beginner</h2>
            <p><a href="#">Lv3-Reading</a></p>
            <p><a href="#">Lv3-Listening</a></p>
            <p><a href="#">Lv3-Grammar</a></p>
            <p><a href="#">Lv3-Vocabulary</a></p>
            <br>
            <img src="images/lv3in.jpg" />
            <h2>Level 3 - High Intermediate</h2>
            <p><a href="#">Lv3-Reading</a></p>
            <p><a href="#">Lv3-Listening</a></p>
            <p><a href="#">Lv3-Grammar</a></p>
            <p><a href="#">Lv3-Vocabulary</a></p>
            <br>
        </div>
    </div>
</div>

